<nav class="navbar justify-content-start" style="background-color: #ff6a6a">
  <img
    src="../../../assets/Logo.png"
    style="padding-right: 200px; height: 50px"
  />
</nav>
<br />
<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div style="margin-left: 20px; padding: 20px; border: 1px solid #ff6a6a">
        <div class="container">
          <div style="text-align: start">
            <span style="font-size: 30px">&#8592;</span>
          </div>
          <div style="text-align: center">
            <h3 for="">Đăng Ký</h3>
          </div>
          <form [formGroup]="signUpTypeForm">
            <div class="form-group">
              <input
                formControlName="name"
                class="form-control"
                placeholder="Tên"
              />
            </div>
            <div class="form-group">
              <input
                formControlName="email"
                class="form-control"
                placeholder="Email"
              />
            </div>
            <div class="form-group">
              <input
                formControlName="phoneNumber"
                class="form-control"
                placeholder="Số điện thoại"
              />
            </div>
            <div class="form-group">
              <input
                formControlName="password"
                type="password"
                class="form-control"
                required=""
                id="password2"
                placeholder="Mật khẩu"
              />
            </div>
            <input
              formControlName="passwordConfirm"
              type="password"
              class="form-control"
              required=""
              id="password2"
              placeholder="Xác nhận mật khẩu"
            />
          </form>
          <br />
          <div style="text-align: center">
            <label style="font-size: 13px; width: 500px">
              Bằng cách đăng ký, bạn
              <label style="color: #ff6a6a"> đồng ý </label> với
              <label style="color: #ff6a6a">
                Điều khoản & Điều kiện và Chính sách quyền riêng tư
              </label>
              của UTE SHIP</label
            >
            <br />
            <a (click)="submit()" class="btn btn-primary login_btn">
              Đăng Ký
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
